.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    position: sticky;
    top: 0;
    z-index: 2;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);
}
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 12px 20px;
    }
    .searchcontrol {
        margin-top: 12px;
    }
    .switch {
      display: none !important;
    }
}
.title a{
    color: #fff;
    text-decoration: none;
    transition: 0.1s;
}
.title a:hover {
    color: rgb(235, 74, 0);
}
.searchcontrol {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar input {
    background: inherit;
    color: #DDD;
    border: none;
    border-bottom: 2px solid #333;
    padding: 4px 8px;
    margin-left: 4px;
    outline: none;
}
.navbar input:active {
    border-bottom: 2px solid #777;
}

/*From w3Schools*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(56, 56, 56);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f3d421;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f3d421;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dark Theme*/
.light-theme .navbar {
  background: #eee;
  color: #222;
  transition: 1s;
}
.light-theme .navbar a {
  color: #000;
}
.light-theme .navbar input {
  color: #444;
}