* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #020608;
  /* background: radial-gradient(circle, rgb(12, 15, 17) 59%, rgb(0, 0, 0) 100%); */
  background-attachment: fixed;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  transition: 0.5s;
}
.moviesgrid {
  padding: 0 28px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 8px;
  max-width: 1200px;
  margin: 0 auto;
}
.toptext {
  min-height: 150px;
  color: #fff;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url("./assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column ;
  font-size: 24px;
  margin-bottom: 40px;
}
.toptextpage {
  color: #BBB;
}
::selection {
  background: #f00;
  color: #fff;
}
@media (max-width: 600px) {
  .moviesgrid {
    padding: 0 12px;
  }
}
.light-theme {
  background: #eee;
  color: #222;
}
.pagination {
  padding: 40px 20px;
  text-align: center;
}
.pagination button {
  margin: 8px;
  width: 32px;
  height: 32px;
  padding: 8px;
}